---
- name: Install amazon.aws collection
  ansible.builtin.command:
    cmd: ansible-galaxy collection install amazon.aws

- name: Create an EKS cluster
  amazon.aws.eks_cluster:
    name: "{{ cluster_name }}"
    version: "{{ eks_version }}"
    region: "{{ region }}"
    node_groups:
      - name: "{{ node_group_name }}"
        instance_types: "{{ node_instance_type }}"
        desired_capacity: "{{ desired_capacity }}"
        min_size: "{{ min_size }}"
        max_size: "{{ max_size }}"
        key_name: "{{ key_name }}"
        ssh_access: true

- name: Update kubeconfig
  shell: |
    aws eks --region {{ region }} update-kubeconfig --name {{ cluster_name }}
  args:
    creates: "/home/{{ ansible_user }}/.kube/config"
  when: "'{{ cluster_name }}@' not in lookup('file', '/home/{{ ansible_user }}/.kube/config')"

- name: Install community.kubernetes collection
  ansible.builtin.command:
    cmd: ansible-galaxy collection install community.kubernetes

- name: Confirm EKS cluster is up
  community.kubernetes.k8s_info:
    kubeconfig: /home/{{ ansible_user }}/.kube/config
    kind: Node

- name: Delete EKS cluster (conditional)
  amazon.aws.eks_cluster:
    name: "{{ cluster_name }}"
    region: "{{ region }}"
    state: absent
  when: delete_cluster
  register: delete_output

- name: Display deletion output if deleted
  debug:
    msg: "EKS Cluster deletion result: {{ delete_output }}"
  when: delete_cluster