version: 2.1

orbs:
  node: circleci/node@5

jobs:
  build-node:
    # Build node project
    executor: node/default
    steps:
      - checkout
      - node/install-packages
      - run:
          name: Build Angular App
          command: npm run build
      - persist_to_workspace:
          root: .
          paths:
            - dist/
        

  deploy:
    # This is an example deploy job, not actually used by the workflow
    docker:
      - image: cimg/base:stable
    steps:
      - attach_workspace:
          at: /tmp/workspace

      - add_ssh_keys:  # Add SSH keys to access your server
          fingerprints:
            - "SHA256:zFyFXOvbDcrNys/YHWJwuJwkIsLGoGj3jVUDg9swFic"
          
      - run:
          name: Check artifacts stored in workspace
          command: 'ls /tmp/workspace/dist'
      
      - run:
          name: Deploy Angular App to NGINX server
          command: |
            scp -r /tmp/workspace/dist/aws_demo_angular/* ubuntu@54.198.231.3:/var/www/angular-app/


workflows:
  build-and-test:
    jobs:
      - build-node
      - deploy:
          requires:
            - build-node
