---
# eks_installations.yml

- name: Ensure unzip is installed
  ansible.builtin.package:
    name: unzip
    state: present

- name: Install AWS CLI
  ansible.builtin.get_url:
    url: "https://awscli.amazonaws.com/awscli-exe-linux-x86_64.zip"
    dest: "/tmp/awscliv2.zip"
    mode: '0644'
  register: aws_cli_download

- name: Extract and install AWS CLI
  ansible.builtin.unarchive:
    src: /tmp/awscliv2.zip
    dest: /tmp
    remote_src: yes
  when: aws_cli_download is changed

- name: Run AWS CLI installer
  ansible.builtin.command: "/tmp/aws/install"
  args:
    creates: "/usr/local/bin/aws"
  when: aws_cli_download is changed

- name: Install kubectl
  community.kubernetes.k8s_kubectl:
    path: /usr/local/bin/kubectl
    version: "latest"
  register: kubectl_installed

- name: Verify kubectl installation
  ansible.builtin.command: "kubectl version --client"
  changed_when: false
  ignore_errors: yes
  when: kubectl_installed.changed
  register: kubectl_version

- name: Install eksctl
  ansible.builtin.get_url:
    url: "https://github.com/weaveworks/eksctl/releases/download/latest_release/eksctl_$(uname -s)_amd64.tar.gz"
    dest: "/tmp/eksctl.tar.gz"
    mode: '0644'
  register: eksctl_download

- name: Extract and move eksctl
  ansible.builtin.unarchive:
    src: /tmp/eksctl.tar.gz
    dest: /tmp/
    remote_src: yes
  when: eksctl_download is changed

- name: Move eksctl to /usr/local/bin
  ansible.builtin.command: "mv /tmp/eksctl /usr/local/bin/"
  args:
    creates: "/usr/local/bin/eksctl"
  when: eksctl_download is changed

- name: Verify eksctl installation
  ansible.builtin.command: "eksctl version"
  changed_when: false
  ignore_errors: yes
  register: eksctl_version

- name: Install Helm
  community.general.helm:
    helm_path: /usr/local/bin/helm
    state: present

- name: Verify Helm installation
  ansible.builtin.command: "helm version --short"
  changed_when: false
  ignore_errors: yes
  register: helm_version

- name: Display installation results
  ansible.builtin.debug:
    msg:
      - "AWS CLI installed: {{ aws_cli_download.changed }}"
      - "kubectl version: {{ kubectl_version.stdout }}"
      - "eksctl version: {{ eksctl_version.stdout }}"
      - "Helm version: {{ helm_version.stdout }}"



