---
# eks_installations.yml

- name: Ensure unzip is installed
  ansible.builtin.package:
    name: unzip
    state: present

- name: Install AWS CLI
  ansible.builtin.get_url:
    url: "https://awscli.amazonaws.com/awscli-exe-linux-x86_64.zip"
    dest: "/tmp/awscliv2.zip"
    mode: '0644'
  register: aws_cli_download

- name: Extract and install AWS CLI
  ansible.builtin.unarchive:
    src: /tmp/awscliv2.zip
    dest: /tmp
    remote_src: yes
  when: aws_cli_download is changed

- name: Run AWS CLI installer
  ansible.builtin.command: "/tmp/aws/install"
  args:
    creates: "/usr/local/bin/aws"
  when: aws_cli_download is changed

- name: Get the latest stable kubectl release URL
  ansible.builtin.command: "curl -L -s https://dl.k8s.io/release/stable.txt"
  register: kubectl_version
  changed_when: false

- name: Install kubectl
  ansible.builtin.get_url:
    url: "https://dl.k8s.io/release/{{ kubectl_version.stdout }}/bin/linux/amd64/kubectl"
    dest: "/usr/local/bin/kubectl"
    mode: '0755'

- name: Verify kubectl installation
  ansible.builtin.command: "kubectl version --client"
  changed_when: false
  ignore_errors: true
  register: kubectl_version

- name: Get the latest eksctl release version
  ansible.builtin.shell: |
    curl -L -s https://api.github.com/repos/weaveworks/eksctl/releases/latest | grep 'tag_name' | cut -d '"' -f 4
  register: eksctl_version
  changed_when: false

- name: Download eksctl
  ansible.builtin.get_url:
    url: "https://github.com/weaveworks/eksctl/releases/download/{{ eksctl_version.stdout }}/eksctl_$(uname -s)_amd64.tar.gz"
    dest: "/tmp/eksctl.tar.gz"
    mode: '0644'
  when: eksctl_version.stdout is defined

- name: Extract and move eksctl to /usr/local/bin
  ansible.builtin.unarchive:
    src: "/tmp/eksctl.tar.gz"
    dest: "/tmp/"
    remote_src: yes
    creates: "/usr/local/bin/eksctl"

- name: Move eksctl to /usr/local/bin
  ansible.builtin.command: "mv /tmp/eksctl /usr/local/bin/eksctl"
  args:
    creates: "/usr/local/bin/eksctl"


- name: Verify eksctl installation
  ansible.builtin.command: "eksctl version"
  changed_when: false
  ignore_errors: true
  register: eksctl_version

- name: Get the latest stable Helm installation script URL
  ansible.builtin.command: "curl -L -s https://raw.githubusercontent.com/helm/helm/main/scripts/get-helm-3"
  register: helm_install_script
  changed_when: false

- name: Install Helm
  ansible.builtin.shell: "echo '{{ helm_install_script.stdout }}' | bash"
  args:
    creates: "/usr/local/bin/helm"

- name: Verify Helm installation
  ansible.builtin.command: "helm version --short"
  changed_when: false
  ignore_errors: true
  register: helm_version

- name: Display installation results
  ansible.builtin.debug:
    msg:
      - "AWS CLI installed: {{ aws_cli_download.changed }}"
      - "kubectl version: {{ kubectl_version.stdout }}"
      - "eksctl version: {{ eksctl_version.stdout }}"
      - "Helm version: {{ helm_version.stdout }}"



